# Trimble 3605 DR
---
## Konvertierung der .DAT-Dateien in eine ins GIS einlesbar .CSV-Tabelle

In [14]:
%matplotlib inline
from IPython.display import display
import pandas as pd

Eingabe des Dateipfades zur .DAT-Datei. Die Ausgabedatei wird unter gleichem Namen in das gleiche Verzeichnis geschrieben.

In [15]:
file = input('where is the input-File (.DAT):')

where is the input-File (.DAT):data/JE150121

In [16]:
df = pd.read_table(into+'.dat', header=-1)
display(df.head())
df.count()

                                                   0
0  For M5|Adr     1|TG  EINGABEWERTE             ...
1  For M5|Adr     2|TG  EINGABEWERTE             ...
2  For M5|Adr     3|TI  REFLEX FOLIE             ...
3  For M5|Adr     4|TG  EINGABEWERTE             ...
4  For M5|Adr     5|TG  EINGABEWERTE             ...

0    174
dtype: int64

Die .DAT-Datei enthält auch Zeilen mit den Eingabe- und Rechenwerten sowie Programmaufrufe. Im Folgenden **nur Zeilen mit Messwerten** herausfiltern.

Die Zeilen mit den Messwerten sind:
* Eingabewerten aus Absteckungen und Messungen mit dem Programm 'Aufnahme' (nach Stationierung) enthalten ein **großes Y**
* Messungen mit Abstand-Punkt-Gerade enthalten ein **kleines y**

In [17]:
df_1a = df[df[0].str.contains("Y ")]
df_1b = df[df[0].str.contains("y ")]
df_1 = pd.concat([df_1a, df_1b])
df_1.count()

0    31
dtype: int64

Die einzelnen Felder sind mit dem Trennerzeichen ' | '  versehen und können an diesem in Spalten zerlegt werden (siehe [pandas split string into columns](http://stackoverflow.com/questions/29370211/pandas-split-string-into-columns))

In [18]:
df_2 = df_1[0].str[1:-1].str.split('|', expand = True).astype(str)
df_2.rename(columns={1: 'ADR', 2: 'NAME', 3: 'Y', 4: 'X', 5: 'Z'}, inplace=True)
display(df_2.head())

,0,ADR,NAME,Y,X,Z,6
82,or M5,Adr 83,PI1 00001 Fix1,Y 0.0000 m,X 0.0000 m,Z 0.0000 m,
83,or M5,Adr 84,PI1 00002 Fix2,Y 0.0000 m,X 23.0000 m,Z -0.1500 m,
84,or M5,Adr 85,PI1 00003 Fix3,Y 13.8910 m,X 14.4950 m,Z -0.0120 m,
112,or M5,Adr 113,PI1,Y 8.3942 m,X 19.9485 m,Z -0.3683 m,
132,or M5,Adr 133,PI1 ZwErg,Y 8.3885 m,X 19.9465 m,,

mit str.replace() alles etfernen, was raus soll

In [19]:
df_2['ADR'] = df_2['ADR'].str.replace('Adr ', '')

df_2['NAME'] = df_2['NAME'].str.replace('PI1 ', '')

df_2['Y'] = df_2['Y'].str.replace('Y ', '')
df_2['Y'] = df_2['Y'].str.replace('y ', '')
df_2['Y'] = df_2['Y'].str.replace(' m', '')

df_2['X'] = df_2['X'].str.replace('X ', '')
df_2['X'] = df_2['X'].str.replace('x ', '')
df_2['X'] = df_2['X'].str.replace(' m', '')

df_2['Z'] = df_2['Z'].str.replace('Z ', '')
df_2['Z'] = df_2['Z'].str.replace('z ', '')
df_2['Z'] = df_2['Z'].str.replace(' m', '')

Die Datei enthält stellenweise noch unerwünschte Zeilen die beim Stationieren entstehen. Diese enthalten ein 's' oder ein 'h' in der Y-Spalte

In [20]:
df_2 = df_2[~(df_2['Y'].str.contains("s")) & ~(df_2['Z'].str.contains("h"))]

In [21]:
display(df_2.head())

,0,ADR,NAME,Y,X,Z,6
82,or M5,83,00001 Fix1,0.0000,0.0000,0.0000,
83,or M5,84,00002 Fix2,0.0000,23.0000,-0.1500,
84,or M5,85,00003 Fix3,13.8910,14.4950,-0.0120,
112,or M5,113,,8.3942,19.9485,-0.3683,
132,or M5,133,ZwErg,8.3885,19.9465,,

Das Ganze als .CSV speichern:

In [23]:
df_2.to_csv(file+'.csv')

> in QGIS beim Import der CSV-Datei auf alle Fälle <code>[x] Felder abschneiden</code> aktivieren, da -- warum eigentlich? -- Leereichen in die CSV-Datei geschrieben werden